Google App verification
=======================

Aim
---

- Let Elemento Studio use Google authorization without the scary warnings

Requirements
------------

- Google authorization in Studio works like a normal production app
- Check ToS etc 
- Don't hard code elemento.online
- New project for production
- New project for testing
- Updated deploy scripts, projects not hard-coded
- Elemento logo
- Elemento ToS
- Quick what it is on E-O home page
- Elemento Privacy policy, inc use of Google user data
- Better contact email address
- Studio only needs cloud storage scope, deploy tool needs both
- Check scope before trying the call
- Verify ownership of domain
- Server app documentation complete and linkable
- Video???
- Publish app to production
- Apply for verification

References

https://developers.google.com/identity/protocols/oauth2/production-readiness/policy-compliance
https://support.google.com/cloud/answer/13463073?visit_id=638376449075447418-1993461557&rd=1
https://support.google.com/cloud/answer/7454865?hl=en
